{lib_dirs, ["deps"]}.

{erl_opts, [
  warnings_as_errors,
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git"}},
  {common_lib, "4.0.0", {git, "git://github.com/funbox/common_lib.git", {tag, "4.0.0"}}}
]}.

{erl_first_files, ["src/gen_esme_session.erl",
                   "src/gen_mc_session.erl",
                   "src/gen_esme.erl",
                   "src/gen_mc.erl"]}.

{xref_checks, [undefined_function_calls]}.
